p#pogrubienie_litterski
{
color:#815BD2;
font-size:34px;
}
p#pochylona_litterski
{
color:#E5BF6E;
font-size:39pt;
}
p#index_gorny_litterski
{
color:#958D1E;
font-size:5.4cm;
}
p#index_dolny_litterski
{
color:RGB(19%,95%,90%);
font-size:6.3cm;
}
p#mono_litterski
{
color:#15DD6E;
font-size:44px;
}
p#powiekszenie_litterski
{
color:#4F3DA0;
}
p#pomniejszenie_litterski
{
color:RGB(70%,63%,24%);
}